{% load static %}

<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand"><img id="navbar-logo" src="{% static 'images/parrot_5_round.png' %}"></a>
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav d-flex align-items-center text-light">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Ferdinand737/voice-clone-bot">Parrot Bot GitHub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Ferdinand737/parrot-site">Parrot Site GitHub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
