{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<div id="container" class="m-5 row justify-content-center">
    
    <div id="user-info" class="text-light col-md-6 m-5">
        <div id="name-avatar" class="row m-2">
            <div class="col-sm-2 d-flex align-items-center">
                <img id="profile-pic" src="https://cdn.discordapp.com/avatars/{{siteuser.id}}/{{siteuser.avatar}}">
                <div class="m-2">
                    <h4>{{ siteuser.discord_tag }}</h4>
                </div>
            </div>
        </div>
        <div class="m-2">
            <p>Usage Summary</p>
        </div>
        <div id="usage-data" class="m-2">
            <table id="usage-table" class="table table-hover table-borderless">       
                <tr>
                    <td class="text-light">Total Characters Used</td>
                    <td class="text-end text-light">{{ user.total_chars_used }}</td>
                </tr>
                <tr>
                    <td class="text-light">Monthly Character Limit</td>
                    <td class="text-end text-light">{{ user.monthly_char_limit }}</td>
                </tr>
                <tr>
                    <td class="text-light">Monthly Characters Used</td>
                    <td class="text-end text-light">{{ user.monthly_chars_used }}</td>
                </tr>
                <tr>
                    <td class="text-light">Character Credit</td>
                    <td class="text-light text-end">{{ user.char_credit }}</td>
                </tr>
                <tr>
                    <td class="text-light">Last Character Reset</td>
                    <td class="text-light text-end">{{ user.last_char_reset|date:"M d, Y" }}</td>
                </tr>
                <tr>
                    <td class="text-light">Next Character Reset</td>
                    <td class="text-light text-end">{{ next_reset|date:"M d, Y" }}</td>
                </tr> 
            </table>
        </div>
    </div>
    
    <div id="transaction-history" class="col-md-6 m-5 d-flex flex-column align-items-center">
        <h4 class="text-light mt-4">Transaction History</h4>
        <div id="table-wrap">
            <table id="usage-table" class="table table-hover table-borderless">
                <tbody>
                    <tr>
                        <th class="text-light">Date</th>
                        <th class="text-light">Product</th>
                        <th class="text-light">Amount Paid</th>
                    </tr>
                    {% for transaction in transactions %}
                        <tr>
                            <td class="text-light">{{ transaction.date_time|date:"M d, Y" }}</td>
                            <td class="text-light">{{ transaction.product.name }}</td>
                            <td class="text-light">${{ transaction.get_display_amount }}</td>
                        </tr>
                    {% endfor %}                   
                </tbody>   
                
            </table>
        </div>
    </div>

</div>
<div id="shop" class="m-5 row justify-content-center">
    {% for product in products %}
        <div id="product" class="m-3">
            <h4>{{ product.name }}</h4>
            <p>
                {{ product.num_characters }} characters
            </p>
            <p>
                ${{ product.get_display_price }}USD
            </p>
            <form action="/payments/checkout/{{product.id}}" method="POST">
                {% csrf_token %}
                <button class="btn btn-lg btn-secondary w-100 border border-0" style="background-color: #d1b200" type="submit" id="checkout-button">Buy</button>
            </form>

        </div>
    {% endfor %}
</div>
{% endblock %}