#profile-pic {
    border-radius: 50%;
    height: 80;
    width: 80;
}

#user-info, #transaction-history {
    border-radius: 20px;
    border-style: solid;
    border-color: grey;
    background: linear-gradient(to bottom, #0d6d85, #37444d);
    border-width: 1px;
    width: 30%;
    min-width: 400px;
    max-height: 370px;
}

#product {
    border-radius: 20px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    background: linear-gradient(to bottom, #9dff41, #37444d);
    width: 15%;
    min-width: 250px;
}

#navbar-logo {
    height: 50px;
    width: 50px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.dropdown-toggle{
    color:white;
}

.navbar {
    background:#000;
}

.nav-link, .navbar-brand {
    cursor: pointer;
    color: white;
}

.nav-link .nav-link{
    color: white;
    text-align:end;
    margin-right: 1em !important;
}

.nav-item {
    text-align: end;
}

.nav-link:hover{
    color: #5dd1ef;
}


.table tr, .table th, .table td {
    background-color: transparent;
}

#table-wrap{
    overflow-y: auto;
}
  