body {
    /* background-color: #333;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; */
}

/*
.login-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #7289da;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}


.add-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #43b581;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
} */